<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayden.timeinventory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeInventory">
        <activity
            android:name=".CateEditor"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".CleanDialog"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".ExitRecord"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".Record"
            android:exported="false" />

        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Statistics"
            android:exported="false" />
        <activity
            android:name=".Inventory"
            android:exported="false" />
        <activity
            android:name=".Timer"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>